<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shine0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,1}</string>
                <key>spriteSourceSize</key>
                <string>{2,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{2,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{2,0},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,6},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shine.png</string>
            <key>size</key>
            <string>{10,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b617fa15fd0d2fae229d07a7a563d05:fcc1fe863c8709cfef11d6ef631c2852:f597214a37ce94e06bb0739a2993020c$</string>
            <key>textureFileName</key>
            <string>shine.png</string>
        </dict>
    </dict>
</plist>
